.header {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem
}

.header__logo {
    width: var(--size-7xl);
    height: var(--size-7xl);
    object-fit: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.header__bars {
    /* border: 1px solid white; */
    width: var(--size-2xl);
    height: var(--size-2xl);
    color: var(--clr-slate50);
}

.header__menu {
    display: none;
    /* border: 1px solid white; */
}

.header__title {
    display: none;
}


/*XS*/
/* @media (min-width: 475px) {}  */

/*SM*/ 
/* @media (min-width: 640px) {} */

/*MD*/
@media (min-width: 768px) {
    .header__bars {
        display: none;
    }

    .header__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .header__social {
        text-decoration: none;
        font-size: var(--size-lg);
        color: var(--clr-slate100);
        padding: 0.5rem;
        border-radius: 6px;
        transition: background-color 0.3s ;
        line-height: 0;
    }

    .header__social:hover {
        background-color: var(--clr-slate800) ;
    }
    .header__separator {
        border: 1px solid var(--clr-slate100);
        padding-top: 1.5rem;
    }
    .header__sign-in-btn {
        font-family: var(--font-secondary);
        font-size: var(--size-xs);
        color: var(--clr-text);
        text-decoration: none;
        font-weight: 700;
        transition: color 0.3s;
        text-transform: uppercase;
    }
    .header__sign-in-btn:hover {
        color: var(--clr-slate300);
    }
    .header__enter-app-btn {
        font-size: var(--size-xs);
    }
    .header__enter-app-btn__arrow {
        display: inline;
        vertical-align: middle;
        margin-left: 0.25rem;
        width: 1em;
    }

    .header__social-container {
        display: flex;
        gap: 1rem;
    }

}  

/*LG*/ 
@media (min-width: 1024px) {
    .header__title-container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .header__title {
        display: block;
        font-family: var(--font-secondary);
        font-size: var(--size-xl);
        text-transform: uppercase;
        font-weight: 600;
        color: var(--clr-slate50);
        letter-spacing: 0.1em;
    }
} 

/*XL*/
@media (min-width: 1280px) {
    .header__logo {
        width: var(--size-8xl);
        height: var(--size-8xl);
    }
    .header__title {
        font-size: var(--size-2xl);
    }
    .header__social {
        font-size: var(--size-2xl);
    }
    .header__sign-in-btn {
        font-size: var(--size-base);
    }
    .header__enter-app-btn {
        font-size: var(--size-base);
    }
} 

/*2XL*/ 
/* @media (min-width: 1536px) {}  */